.checked {
  color: orange;
}
body {
  background-color: #1f1c1c;
}
.container {
  background-color: #353232;

  border-radius: 10px;
}

h1 {
  color: #fff;
  font-family: poppins, sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}
p {
  color: #fff;
  font-family: poppins, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.back-button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #fa0404, #ec9a00, #ec0606);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.25em;
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: 600;
  border: none;
}

.button:hover {
  opacity: 0.8;
}
